# Root gitignore

# Node
node_modules/
**/node_modules/

# Environment files
.env
.env.*
**/.env
**/.env.*

# Builds
dist/
build/
**/dist/
**/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/


