# Ignore node_modules everywhere
**/node_modules/

# Ignore build and dist folders
**/build/
**/dist/

# Ignore logs and system files
*.log
.DS_Store

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore Expo and React Native build files
**/android/
**/ios/
.expo/
.expo-shared/

# Ignore lock files at root (if you want to handle per project separately)
package-lock.json
yarn.lock

# Ignore environment files (if any)
**/.env
